@font-face {
  font-family: 'DIN-Medium';
  src: url('/static/font/DIN-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'AlibabaPuHuiTi';
  src: url('/static/font/Alibaba-PuHuiTi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'STLiti';
  src: url('/static/font/STLiti.ttf') format('truetype');
}

@font-face {
  font-family: 'simsun';
  src: url('/static/font/simsun.ttf') format('truetype');
}

@font-face {
  font-family: 'Source HanSans CN';
  src: url('/static/font/SourceHanSansCN-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('/static/font/youshebiaotihei.ttf') format('opentype');
}
